.intro {
    background-color: #fbfdfa;
}

#about-me {
    background-color: #fbfdfa;
}

#projects {
    background-color: #fbfdfa;
}

.card {
    card-body {
        background-color: #fbfdfa;
    }
}

footer {
    background-color: #b886df;
}