$color-one: #fbfdfa;
$color-two: #b886df;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.intro {
    background-color: $color-one;
}

#about-me {
  background-color: $color-one;
}

#projects {
  background-color: $color-one;
}

.card {
  .card-img-top {
    background-color: $color-one;
  }
}

.card-body {
    background-color: $color-one;

}

footer {
    background-color: $color-two;
}
