$light-yellow: #fbfdfa;
$footer-color: #b886df;
$marker-background: #e6f0e3;
$marker-text: #081003;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: $light-yellow;
}

footer {
    background-color: $footer-color;
}

marker {
    background-color: $marker-background;
    color: $marker-text;
}
