@use 'components/body';
@use 'components/footer';
@use 'components/highlights';

.highlight {
    display: highlights.$display-mark;
    background-color: highlights.$background-mark;
    color: highlights.$text-mark;
    padding: highlights.$height-mark;

}

.intro {
    background-color: body.$color-one;
}

#about-me {
    background-color: body.$color-one;
}

#projects {
    background-color: body.$color-one;
}

.card {
    card-body {
        background-color: body.$color-one;
    }
}

footer {
    background-color: footer.$color-two;
}