@use 'components/body';
@use 'components/footer';
@use 'components/icons';

.intro {
    background-color: body.$color-one;
}

.container-lg {
    .row {
        background-color: body.$color-one;
        .col-auto {
            .card {
                .card-body{
                    .btn {
                        width: icons.$size-1;
                        height: icons.$size-2;
                        padding: icons.$border;
                    }
                }
            }
        }
      }
    }


footer {
    background-color: footer.$color-two;
}